<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crosire.Controlcenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crosire.Controlcenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Crosire.Controlcenter.Properties.Settings>
      <setting name="workingDir" serializeAs="String">
        <value />
      </setting>
      <setting name="uiState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="uiLanguage" serializeAs="String">
        <value>en</value>
      </setting>
    </Crosire.Controlcenter.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Crosire.Controlcenter.Properties.Settings>
      <setting name="updateChannel" serializeAs="String">
        <value>release</value>
      </setting>
      <setting name="updateUrl" serializeAs="String">
        <value>ftp://85.190.145.101</value>
      </setting>
      <setting name="updateFolder" serializeAs="String">
        <value>DayZ_Server_Controlcenter_{0}-{1}-{2}-{3}</value>
      </setting>
      <setting name="updateFull" serializeAs="String">
        <value>http://dl.germandayz.de/dayzcc/{0}.{1}.{2}.{3}.tar.gz</value>
      </setting>
      <setting name="uiInstances" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="uiUrlAdmin" serializeAs="String">
        <value>http://127.0.0.1:78/dayz/index.php</value>
      </setting>
      <setting name="uiUrlDatabase" serializeAs="String">
        <value>http://127.0.0.1:78/chive/index.php</value>
      </setting>
      <setting name="uiUrlHomepage" serializeAs="String">
        <value>http://www.dayzcc.tk</value>
      </setting>
      <setting name="confTemplates" serializeAs="String">
        <value>dayz.chernarus, dayz.chernarus_winter, dayz.lingor, dayz.utes, dayz.takistan, dayz.panthera2, dayz.fallujah, dayz.zargabad, dayz.namalsk, dayz.mbg_celle2, dayz.tavi, dayz.thirsk, dayz.oring, dayz.isladuala</value>
      </setting>
    </Crosire.Controlcenter.Properties.Settings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>