<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfileMain" xsi:type="File" fileName="${basedir}/DayZ Server Controlcenter.log" />
    <target name="logfileSetup" xsi:type="File" fileName="${basedir}/DayZ Server Setup.log" />
    <target name="logfileWhitelist" xsi:type="File" fileName="${basedir}/whitelist.log" />
  </targets>
  <rules>
    <logger name="Crosire.Controlcenter.Classes.Whitelist" writeTo="logfileWhitelist" final="true" />
    <logger name="Crosire.Controlcenter.Setup.*" writeTo="logfileSetup" final="true" minlevel="Info" />
    <logger name="Crosire.Controlcenter.*" writeTo="logfileMain" minlevel="Info" />
  </rules>
</nlog>