<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crosire.Controlcenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Crosire.Controlcenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Crosire.Controlcenter.Properties.Settings>
      <setting name="workingDir" serializeAs="String">
        <value />
      </setting>
      <setting name="uiState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="uiLanguage" serializeAs="String">
        <value>en</value>
      </setting>
    </Crosire.Controlcenter.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Crosire.Controlcenter.Properties.Settings>
      <setting name="updateChannel" serializeAs="String">
        <value>release</value>
      </setting>
      <setting name="updateUrl" serializeAs="String">
        <value>ftp://minopia.de</value>
      </setting>
      <setting name="updateFolder" serializeAs="String">
        <value>DayZ_Server_Controlcenter_{0}-{1}-{2}-{3}</value>
      </setting>
      <setting name="updateFull" serializeAs="String">
        <value>https://minopia.de/dayzcc/5.9.4.1.tar.gz</value>
      </setting>
      <setting name="uiInstances" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="uiUrlAdmin" serializeAs="String">
        <value>http://127.0.0.1:78/dayz/index.php</value>
      </setting>
      <setting name="uiUrlDatabase" serializeAs="String">
        <value>http://127.0.0.1:78/chive/index.php</value>
      </setting>
      <setting name="uiUrlHomepage" serializeAs="String">
        <value>https://github.com/Bluscream/dayz-mod-server-control-center</value>
      </setting>
      <setting name="confTemplates" serializeAs="String">
        <value>dayz.chernarus, dayz.lingor, dayz.utes, dayz.takistan, dayz.panthera2, dayz.fallujah, dayz.zargabad, dayz.namalsk, dayz.mbg_celle2, dayz.tavi, dayz.thirsk, dayz.oring, dayz.isladuala</value>
      </setting>
      <setting name="cbxLoadoutItems" serializeAs="String">
        <value>[["Mk_48_DZ","NVGoggles","Binocular_Vector","M9SD","ItemGPS","ItemToolbox","ItemEtool","ItemCompass","ItemMatchbox","FoodCanBakedBeans","ItemKnife","ItemMap","ItemWatch"],[["100Rnd_762x51_M240",47],"ItemPainkiller","ItemBandage","15Rnd_9x19_M9SD","100Rnd_762x51_M240","ItemBandage","ItemBandage","15Rnd_9x19_M9SD","15Rnd_9x19_M9SD","15Rnd_9x19_M9SD","ItemMorphine","PartWoodPile"]]</value>
      </setting>
    </Crosire.Controlcenter.Properties.Settings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CefSharp" publicKeyToken="40c4b6fc221f4138" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.4.0" newVersion="1.25.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>